body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.main-header {
    width: 100%;
    height: 1.5rem;
    background-color: rgb(247, 107, 72);
    padding: 1.2rem;
}
.main-header__item_list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header__nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header_item{
    margin: 0 1rem;
    padding: 0;
}
.main-header_item a{
    text-decoration: none;
    color: white;
}
main{
    margin: 1rem;
}
.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a:active {
    color: rgb(0, 0, 0);
}