.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    outline: none;
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    height: 2rem;
    border-radius:5em;
    padding: 0 10px;
    box-shadow: grey 0.4em 0.5em 0.8em;
}

.form-control input:focus {
    outline-color: #00695c;
}
