<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item_list">
                    <li class="main-header_item"><a class="active" href="/">Shop</a></li>
                    <li class="main-header_item"><a href="/admin/add-product">Add product</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form  class="product-form" action="/admin/add-product" method="POST">
                
                <div class="form-control">
                    <label for="title">Title</label>
                    <input class="p" type="text" name="title" id="title" style="width: 12rem;">
                </div>
                <button class="b" type="submit" style="width: 4rem;">ADD</button>
            </form>
        </main>
</body>

</html>